html,
body {
  margin: 0px;
  padding: 0;
}

* {
  margin: 0;
}

.container {
  height: 530px;
  background-color: #1f2937;
  /* border: solid 3px red; */
}

.nav-list {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 4rem;
  color: white;
  margin: 30px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item:first-child {
  margin-right: auto;
  font-size: 24px;
}

.top-container {
  color: white;
  display: flex;
  /* border: 3px solid green; */
  min-height: 250px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.left {
  display: flex;
  /* border: 2px solid yellow; */
  flex-wrap: wrap;
  width: 500px;
  justify-content: flex-start;
  padding: 50px;
  margin-right: 200px;
}

.left-text {
  /* border: 2px solid red; */
  margin-right: 100px;
}

.right {
  display: flex;
  /* width: 50%; */
  width: 500px;
  height: 250px;
  background-color: aqua;
}

.awesome {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.added-text {
  font-size: 18px;
  color: #e5e7eb;
}

.contact {
  /* border: 3px solid orange; */
  font-size: 20px;
  margin-top: 30px;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  border-radius: 10px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-left: ;
  margin-top: 100px;
  border: 3px solid purple;
  height: 110px;
  width: 1900px;
}

.about-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* align-self: center; */
  /* align-self: center; */
  border: 3px solid red;
  height: 50px;
  width: 200px;
  margin-top: 2rem;
}

.about-me {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 300px;
  width: 1900px;
  /* margin-right: 300px; */
  /* margin-top: 230px; */
  border: 3px solid green;
  /* flex-flow: row wrap; */
}

.box1 {
  border: 3px solid gray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: lightgray;
  text-align: center;
  line-height: 140px;
}

.text1 {
  text-align: center;
  border: 3px solid blue;
}
