html,
body {
  margin: 0px;
  padding: 0;
}

* {
  margin: 0;
}

.container {
  height: 430px;
  background-color: #1f2937;
}

.nav-list {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 4rem;
  color: white;
  margin: 30px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item:first-child {
  margin-right: auto;
  font-size: 24px;
}

.top-container {
  color: white;
  display: flex;
  /* border: 3px solid green; */
  min-height: 250px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.left {
  display: flex;
  /* border: 2px solid yellow; */
  flex-wrap: wrap;
  width: 600px;
  justify-content: flex-start;
  padding: 50px;
  margin-right: 200px;
}

.left-text {
  /* border: 2px solid red; */
  margin-right: 100px;
}

.right {
  display: flex;
  /* width: 50%; */
  width: 400px;
  height: 200px;
  background-color: aqua;
}

.awesome {
  font-size: 48px;
  color: #f9faf8;
}

.added-text {
  font-size: 18px;
  color: #e5e7eb;
}

.contact {
  /* border: 3px solid orange; */
  font-size: 18px;
  margin-top: 30px;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  border-radius: 25px;
}
